<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_app_grande_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_app_grande_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_developer"
        tools:targetApi="31">
        <activity
            android:name=".vagaunificado"
            android:exported="false" />
        <!-- Outras Activities continuam a ser configuradas normalmente -->
        <activity
            android:name=".Config"
            android:exported="true" />
        <activity
            android:name=".VagasPesquisa"
            android:exported="false" />
        <activity
            android:name=".Abertura"
            android:exported="false" />
        <activity
            android:name=".Cadastro"
            android:exported="false" />
        <activity
            android:name=".AlterarSenha"
            android:exported="false" />
        <activity
            android:name=".RecuperarSenha"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".perfil_ong_atividadesrealizadas"
            android:exported="true" />
        <activity
            android:name=".perfil_ong_atividadesrealizadasdetalhamento"
            android:exported="true" />
        <activity
            android:name=".PopUP"
            android:exported="true" />
        <activity
            android:name=".activity_atividadesrealizadasdetalhes"
            android:exported="true" />
        <activity
            android:name=".main_inscricoes"
            android:exported="true" />
        <activity
            android:name=".MainActivityAtividadesRealizadas"
            android:exported="true" />
        <activity
            android:name=".VagasVoluntarios"
            android:exported="true" />
        <activity
            android:name=".MainPerfilVoluntarioActivity"
            android:exported="true" />
        <activity
            android:name=".PerfilOng"
            android:exported="true" />
        <activity
            android:name=".formularioong"
            android:exported="true" />

        <activity
            android:name=".activity_vagasong"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".atividadesrealizadasdetalhes"
            android:exported="true" />
    </application>


</manifest>